In [2]:
#importing the the dataset
import pandas as pd

In [3]:
df = pd.read_csv(r'C:\Users\jiyoo\Desktop\projectdc1\archive (1)\online_retail.csv')

In [32]:
df.head(20)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
5,536365,22752,SET 7 BABUSHKA NESTING BOXES,2,2010-12-01 08:26:00,7.65,17850.0,United Kingdom
6,536365,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,2010-12-01 08:26:00,4.25,17850.0,United Kingdom
7,536366,22633,HAND WARMER UNION JACK,6,2010-12-01 08:28:00,1.85,17850.0,United Kingdom
8,536366,22632,HAND WARMER RED POLKA DOT,6,2010-12-01 08:28:00,1.85,17850.0,United Kingdom
9,536367,84879,ASSORTED COLOUR BIRD ORNAMENT,32,2010-12-01 08:34:00,1.69,13047.0,United Kingdom
10,536367,22745,POPPY'S PLAYHOUSE BEDROOM,6,2010-12-01 08:34:00,2.10,13047.0,United Kingdom
11,536367,22748,POPPY'S PLAYHOUSE KITCHEN,6,2010-12-01 08:34:00,2.10,13047.0,United Kingdom
12,536367,22749,FELTCRAFT PRINCESS CHARLOTTE DOLL,8,2010-12-01 08:34:00,3.75,13047.0,United Kingdom
13,536367,22310,IVORY KNITTED MUG COSY,6,2010-12-01 08:34:00,1.65,13047.0,United Kingdom
14,536367,84969,BOX OF 6 ASSORTED COLOUR TEASPOONS,6,2010-12-01 08:34:00,4.25,13047.0,United Kingdom
15,536367,22623,BOX OF VINTAGE JIGSAW BLOCKS,3,2010-12-01 08:34:00,4.95,13047.0,United Kingdom
16,536367,22622,BOX OF VINTAGE ALPHABET BLOCKS,2,2010-12-01 08:34:00,9.95,13047.0,United Kingdom
17,536367,21754,HOME BUILDING BLOCK WORD,3,2010-12-01 08:34:00,5.95,13047.0,United Kingdom
18,536367,21755,LOVE BUILDING BLOCK WORD,3,2010-12-01 08:34:00,5.95,13047.0,United Kingdom
19,536367,21777,RECIPE BOX WITH METAL HEART,4,2010-12-01 08:34:00,7.95,13047.0,United Kingdom

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

In [ ]:
#cheackin for the missing values
print(df.isnull().sum())

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

In [11]:
#droping the raws of customer who dont have customer id
df_clean = df.dropna(subset=['CustomerID']).copy()

print(f"missing IDs after cleaning:{df_clean['CustomerID'].isnull().sum()}")
print(f"remain rowa to analyse:{len(df_clean)}")

missing IDs after cleaning:0
remain rowa to analyse:406829

In [20]:
#creating a sales coloumn to find the salese, we have the quantity and unit price of the product so we will use this to find the sales
df_clean['sales'] = df_clean['Quantity'] * df_clean['UnitPrice']

print(df_clean[['Quantity','UnitPrice','sales']].head())

   Quantity  UnitPrice  sales
0         6       2.55  15.30
1         6       3.39  20.34
2         8       2.75  22.00
3         6       3.39  20.34
4         6       3.39  20.34

In [18]:
print("Data type of InvoiceDate:")
print(df_clean['InvoiceDate'].dtype)

Data type of InvoiceDate:
object

In [21]:
#creating the a seperate dataframe calles sales_only
sales_only = df_clean[df_clean['Quantity']>0].copy()

In [ ]:
print(f"the total sales which has no returns is: {len(sales_only)}")
#here i crated a seperate dataframe to find the customer which the sales happend and no return the product

the total sales which has no returns is: 397924

In [ ]:
#now lets change the datatype of the InvoiceDate from object to Date
#we usig .to_datetime function to convert object --> date datatype
sales_only['InvoiceDate'] = pd.to_datetime(sales_only['InvoiceDate'])
print(sales_only['InvoiceDate'].dtype)
#here we can confirm that we have sussesfully chaged the data type of InvoiceDate

datetime64[ns]

In [42]:
# Go to the DataFrame, select the columns, then call the function
stats = sales_only[['Quantity', 'UnitPrice']].describe()
print(stats)

            Quantity      UnitPrice
count  397924.000000  397924.000000
mean       13.021823       3.116174
std       180.420210      22.096788
min         1.000000       0.000000
25%         2.000000       1.250000
50%         6.000000       1.950000
75%        12.000000       3.750000
max     80995.000000    8142.750000

In [ ]:
print(f"the biggest single order was :{sales_only['Quantity'].max(0)}")
print(f"the highest total spent by a single customer is :{sales_only['TotalSpend'].max(0)}")

the biggest single order was :80995
the highest total spent by a single customer is :8142.75

In [46]:
sales_only.columns

Index(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country', 'sales'],
      dtype='object')

In [64]:
#grouping the date to create a dataframe for a induvidual customer statictics
Customer_stats = sales_only.groupby('CustomerID').agg({
    'sales' : 'max',
    'InvoiceDate' : 'max'
})
print(customer_stats.head())

            TotalSpend   LastPurchacedDate
CustomerID
12346.0        77183.6 2011-01-18 10:01:00
12347.0          249.6 2011-12-07 15:52:00
12348.0          240.0 2011-09-25 13:13:00
12349.0          300.0 2011-11-21 09:51:00
12350.0           40.0 2011-02-02 16:01:00

In [65]:
#now lwts change the couloum name for the professionality
Customer_stats.columns=['TotalSpend','LastPurchacedDate']
print(customer_stats.head())

            TotalSpend   LastPurchacedDate
CustomerID
12346.0        77183.6 2011-01-18 10:01:00
12347.0          249.6 2011-12-07 15:52:00
12348.0          240.0 2011-09-25 13:13:00
12349.0          300.0 2011-11-21 09:51:00
12350.0           40.0 2011-02-02 16:01:00

In [74]:
#lets call teh last date of the purchace as today , so am gonna find the max of the invoice date and call it ass today
today = sales_only['InvoiceDate'].max()
#lets apply logic now sumbtracting last purchaced date by a customer from todays date will give the difference
# #adding a new coloumn called DatesinceLastPurchase
Customer_stats['DateSinceLastPurchase'] = (today - Customer_stats['LastPurchacedDate']).dt.days
print(Customer_stats.head())

            TotalSpend   LastPurchacedDate  DateSinceLastPurchase
CustomerID
12346.0        77183.6 2011-01-18 10:01:00                    325
12347.0          249.6 2011-12-07 15:52:00                      1
12348.0          240.0 2011-09-25 13:13:00                     74
12349.0          300.0 2011-11-21 09:51:00                     18
12350.0           40.0 2011-02-02 16:01:00                    309

In [79]:
#finding the ghost vips , ie the customers who spends an lost but hasnt been return in past 60 days
vip_ghost = Customer_stats[(customer_stats['TotalSpend']>1000) & (Customer_stats['DateSinceLastPurchase']>60)]
print(f"Number of the ghost Vip Who Spends a lot of money and hasn,t been retun in 60 days is:{len(vip_ghost)}")
print(f"Total revenue at Risk: {vip_ghost['TotalSpend'].sum():,.2f}")

Number of the ghost Vip Who Spends a lot of money and hasn,t been retun in 60 days is:14
Total revenue at Risk: 144,530.82

In [80]:
#now we have found we have most higest spenders which is our vip whos hasnt been return since 60 days ir vip ghost
#lets ge their id and find what are tehe top product they purchased 
#so in bussiness perspecticw we could take those customer details and give the like 10% off on the similar or poroduct that they more likely to buy
#lets get the customer ids of this 14 ghost vips

In [82]:
ghost_ids = vip_ghost.index
print(ghost_ids)

Index([12346.0, 12669.0, 12755.0, 13135.0, 15098.0, 15299.0, 15581.0, 15749.0,
       16209.0, 16692.0, 16754.0, 17553.0, 17846.0, 18087.0],
      dtype='float64', name='CustomerID')

In [86]:
# now lets filter these 14 customers from the main cleaned sales_only data frame
ghost_history = sales_only[sales_only['CustomerID'].isin(ghost_ids)]
print(ghost_history.info())

<class 'pandas.core.frame.DataFrame'>
Index: 333 entries, 4850 to 373659
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   InvoiceNo    333 non-null    object
 1   StockCode    333 non-null    object
 2   Description  333 non-null    object
 3   Quantity     333 non-null    int64
 4   InvoiceDate  333 non-null    datetime64[ns]
 5   UnitPrice    333 non-null    float64
 6   CustomerID   333 non-null    float64
 7   Country      333 non-null    object
 8   sales        333 non-null    float64
dtypes: datetime64[ns](1), float64(3), int64(1), object(4)
memory usage: 26.0+ KB
None

In [94]:
#now lets see the the top 5 products that these ghost vips hasbeen purchased
top_ghost_products = ghost_history['Description'].value_counts().head(5)
print("------TOP PURCHASED PRODUCTS BY GHOST VIPS IS-----")
print(top_ghost_products)

------TOP PURCHASED PRODUCTS BY GHOST VIPS IS-----
Description
Manual                              8
ASSTD DESIGN 3D PAPER STICKERS      4
60 TEATIME FAIRY CAKE CASES         3
PACK OF 20 NAPKINS PANTRY DESIGN    3
POSTAGE                             3
Name: count, dtype: int64